@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Sono&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: url("images/workspace.jpeg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-family: "Rubik Doodle Shadow", sans-serif;
    font-size: 5.3vw;
    text-align: center;
    margin: 0;
    padding: 0.4vw;
    width: 38.16vw;
    position: relative;
    left: 32vw;
}

.container {
    width: 75%;
    height: 70vw;
    margin-left: 12.5vw;
}

img {
    max-width: 18%;
    background: transparent;
}

.form {
    font-family: Sono, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e9ecef;
    border-radius: 5vw;
    margin: 1.15vw;
    padding: 0.5vw;
    border: #000000 solid 0.2vw;
}

#input-box {
    font-family: Sono, sans-serif;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.77vw;
    width: 70%;
}

.addButton {
    font-family: Sono, sans-serif;
    border: none;
    padding: 1.5vw 3vw;
    font-size: 1.5vw;
    background: #3b6064;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3vw;
}

.addButton:active {
    background-color: #708d81;
    box-shadow: 0 0.4vw #708d81;
    transform: translateY(4px);
}

button:hover {
    background-color: #708d81;
}

ul {
    padding-inline-start: 0;
    width: 90%;
    margin-left: 5.5vw;
}

ul li {
    font-family: Sono, sans-serif;
    background: #e9ecef;
    list-style: none;
    cursor: pointer;
    user-select: none;
    padding: 0.9vw 0.6vw 0.9vw 3.8vw;
    margin-left: -3.5vw;
    margin-top: 0.4vw;
    position: relative;
    border: #000000 solid 0.2vw;
}

/*Adds an unchecked box in front of each list item*/
ul li::before {
    content: '';
    position: absolute;
    height: 2.3vw;
    width: 2.3vw;
    background-image: url(images/unchecked-box.png);
    background-size: cover;
    background-position: center;
    top: 0.6vw;
    left: 0.6vw;
}

ul li.checked {
    text-decoration: line-through;
}

/*Adds a checked box when an item is clicked*/
ul li.checked::before {
    background-image: url(images/checkbox.png);
}

/*Style for "x" button*/
ul li span {
    position: absolute;
    right: 0;
    top: 0.2vw;
    width: 3vw;
    height: 2vw;
    font-size: 4vw;
    line-height: 2.5vw;
    text-align: center;
    background-color: #e9ecef;
}

ul li span:hover {
    color: #da627d;
}

/* Dropdown for changing background image*/
.dropdown {
    font-family: Sono, sans-serif;
    font-size: 1.22vw;
    margin: 0.76vw;
    z-index: 1;
    position: relative;
    top: 1.5vw;
}

.dropButton {
    font-family: Sono, sans-serif;
    border: none;
    outline: none;
    padding: 0.76vw;
    font-size: 1.22vw;
    background: #3b6064;
    color: #ffffff;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0.07vw;
    background-color: #e9ecef;
    width: 14.2vw;
    padding: 0.76vw;
    cursor: pointer;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #d8e2dc;
}

.dropdown:hover .dropdown-content {
    display: block;
}